* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vmax;
}

body {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  color: white;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: black;
  height: 5vmin;
}

.navOption {
  padding: 1vmin;
}

.navOption:hover {
  background: gray;
}

.navButton {
  height: 3vmin;
  width: 8vmin;
  border-radius: 20px;
}

.navButton:hover {
  cursor: pointer;
}

.bodyButton {
  background-color: black;
  color: white;
  width: 10vmin;
}

.card {
  border: 1px solid black;
  height: 10vmin;
  width: 30vmin;
  text-align: center;
  margin: 1vmin;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > ul {
  list-style-type: none;
}

.card:hover {
  cursor: pointer;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.textBox {
  height: 20vmin;
}

.issueContainer {
  border: 1px solid black;
  height: 20vmin;
}

.issueCard:hover {
  cursor: pointer
}

.vehicleTitle {
  margin-bottom: 4vmin;
}

main {
  height: 100vmax;
  margin: 0 4vmin 0 4vmin;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

form > input {
  margin: 2vmin;
}

a {
  text-decoration: none;
  color: white;
}

